# Auto detect text files and perform LF normalization
* text=auto

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf

# Font files
*.svg text eol=lf
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
